*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0 ;
}
body{
    font-family: 'Raleway', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    /* all colors  */
    --color-dd: #ddd ;
    --color-44: #444;
    --highlight-c: #de4644 ;
    --white-c: #fff ;
    --color-22: #222222 ;
    --color-f1: #f1f1f1 ;
    /* font weight 400 500 800   */
    --font-w4: 400 ;
    --font-w5: 500 ;
    --font-w8: 800;
    --txt-transform: capitalize ;
    --font-13px: 13px ;
    --font-14px: 14px ;
    --font-16px : 16px;
    --font-24px : 24px ;
    --font-36px : 36px ;
    --transition: all .3s linear ;
    --opensans: 'Open Sans', sans-serif;
    --line-h24px: 24px ;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1170px ;
    margin: 0 auto ;
}
#top-login .lan-tel ul li, .l-account a, #nav-bar .menu ul li a,
#nav-bar .item P, #banner .banner-content p, .banner-btn a,
#banner .scroll-btn a{
    line-height: var(--line-h24px);
}
#top-login{
    background-color: var(--color-44);
    text-transform: var(--txt-transform);
    font-size: var(--font-13px);
    color: var(--color-dd);
}
#top-login .container .row{
    align-items: center;
}
#top-login .lan-tel{
    width: 50%;
}
#top-login .l-account{
    width: 50%;
    text-align: right;
}
#top-login .lan-tel ul{
    display: flex;
    flex-wrap: wrap;
}
#top-login .lan-tel ul li, .l-account a {
    display: inline-block;
    border-right: 1px solid var(--color-dd);
    padding: 13px 16px;
}
#top-login .lan-tel ul li a{
    color: var(--color-dd);
}
#top-login .lan-tel ul li:last-child{
    border-right: 1px solid var(--color-44);
    font-family: var( --opensans);
}

#top-login .lan-tel ul li select {
    text-transform: capitalize;
    font-size: 13px ;
    background-color: transparent;
    border: none;
    color: var(--color-dd);
    cursor: pointer;
}

#top-login .l-account a{
    color: var(--color-dd);
    font-family: var( --opensans);
    transition: var(--transition);
}
#top-login .l-account a:hover{
    color: var(--highlight-c);
}
#top-login .l-account a:last-child{
    border-right: 1px solid var(--color-44);
}
/* navigation bar */
#nav-bar{
    background-color: var(--white-c);
    font-size: var(--font-16px);
    font-weight: var(--font-w5);
    transition: all .3s linear;
}
.animate{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    animation: menu-ani .3s linear;
}
@keyframes menu-ani {
    0%{
        top: -20px;
    }
    100%{
        top: 0;
    }
}
#nav-bar .container .row{
    align-items: center;
}
#nav-bar .logo{
    width: 15% ;
}
#nav-bar .logo a{
    display: inline-block;
}
#nav-bar .logo img{
    padding: 30px 0;
}
#nav-bar .menu{
    width: 70% ;
}
#nav-bar .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#nav-bar .menu ul li{
    position: relative;
}
#nav-bar .menu ul li a{
    padding: 10px 14px ;
    color: var(--color-22);
    text-transform: var(--txt-transform);
    font-size: var(--font-13px);
    transition: var(--transition);
}
#nav-bar .menu ul li:hover a{
    color: var(--highlight-c);
}
#nav-bar .menu ul li::after,
#nav-bar .menu ul li::before{
    content: '';
    position: absolute;
    left: 14px;
    bottom: 0;
    width: 35%;
    height: 1px;
    background-color: var(--highlight-c);
    transition: var(--transition);
    transform: scaleX(0);
    transform-origin: left;
}
#nav-bar .menu ul li::before{
    content: '';
    bottom: -5px;
    width: 20% ;
}
#nav-bar .menu ul li:hover::after,
#nav-bar .menu ul li:hover::before{
    content: '';
    transform: scaleX(1);
}
#nav-bar .item{
    width: 15% ;
    color: var(--highlight-c);
    text-align: right;
}
#nav-bar .item ul{
    display: flex;
    flex-wrap: wrap;
}
#nav-bar .item ul li a{
    font-size: var(--font-16px);
    text-transform: var(--txt-transform);
    display: inline-block;
    font-weight: var(--font-w5);
    color: var(--highlight-c);
    padding-left: 31px;
}
#nav-bar .item ul li #search{
    color: var(--color-22);
    transition: var(--transition);
} 
#nav-bar .item ul li #search:hover{
    color: var(--highlight-c);
}
#banner{
    position: relative;
   background-image: url(../eBuy-img/banner-bg.jpg);
    background-size: cover;
    height: 600px ;
    background-position: center;
    z-index: 1;
}
#banner .container, #banner .container .row{
    height: 100%;
    align-items: center;
}
#banner .container .row {
    width: 100%;
}
#banner .banner-text{
    width:100% ;
    margin-top: 34px;
}
#banner .banner-text .banner-content{
    width:  470px;
}
#banner .banner-content h2{
    font-size: 70px;
    font-weight: var(--font-w8);
    color: var(--highlight-c);
}
#banner .banner-content h3{
    font-size: 40px;
    font-weight: var(--font-w4);
    color: var(--white-c);
    text-transform: uppercase;
}
#banner .banner-content p{
    font-family: var(--opensans);
    font-size: 14px ;
    color: #f1f1f1;
    padding: 28px 0;
}
.banner-btn{
    padding: 20px 0;
    width: 100% ;
}
.banner-btn a {
    display: inline-block;
    padding: 20px 30px;
    color: var(--white-c);
    font-size: var;
    font-size: var(--font-16px);
    border-radius: 5px;
    margin-right: 28px;
    text-transform: uppercase;
    transition: var(--transition);
    border: 1px solid var(--white-c);
}
.banner-btn a:hover{
    background-color: var(--highlight-c);
    border: 1px solid var(--highlight-c);
}
#banner .scroll-btn{
    width: 100%;
    text-align: center;
}
#banner .scroll-btn a{
    border: 1px solid var(--white-c);
    padding: 5px 12px ;
    font-size: 24px;
    margin-right: 10px;
    color: var(--white-c);
    transition: var(--transition);
}
#banner .scroll-btn a:hover{
    background-color: var(--highlight-c);
    border: 1px solid var(--highlight-c);
}
#banner::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100% ;
    height: 100%;
    background-color: rgba(0,0,0, .40);
    z-index: -1;
}
   /* services section  */
#service{
    background: var(--color-f1);
}
/* #service .container .row{
    justify-content: space-between;
} */
#service .container .service-item{
    width:33.3%;
    text-align: center;
    border-right: 1px solid #ddd;
}
#service .service-item h2{
    font-size: var(--font-24px);
    color: var(--color-22);
    padding-top: 28px;
    font-weight: var(--font-w4);
    transition: var(--transition);
}
#service .container .service-item:last-child{
    border-right: 1px solid var(--color-f1);
}
#service .service-item:hover h2{
    color: var(--highlight-c);
}
#service .service-item p{
    font-family: var(--opensans);
    font-size: var(--font-14px);
    color: var(--color-44);
    padding: 21px 0;
    line-height: var(--line-h24px);
}
#shop .container .row{
    justify-content: space-around;
    align-items: center;
}
#shop .shop-item{
    background: url(../eBuy-img/un.jpg);
    width: 370px;
    height: 400px;
    margin:100px 0;
    position: relative;
}
#shop .shop-item .item-content {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: calc(100% - 30px);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    text-align: center;
    color: var(--white-c);
    text-transform: capitalize;
}
#shop .shop-item .item-content h2{
    font-size: var(--font-36px);
    font-weight: var(--font-w5);
}
#shop .shop-item .item-content h3{
    font-size: var(--font-24px);
    font-weight: var(--font-w5);
    padding-bottom: 10px;
}
#shop .shop-item .item-content a{
    display: inline-block;
    padding: 18px ;
    font-size: var(--font-16px);
    font-weight: var(--font-w5);
    color: var(--white-c);
    border: 1px solid var(--white-c);
    border-radius: 5px;
    text-transform: capitalize;
    transition: var(--transition);
}
#shop .shop-item .item-content a:hover{
    background-color: var(--highlight-c);
    border: 1px solid var(--highlight-c)
}
#shop .middle{
    background: url(../eBuy-img/catagory2.jpg);
}
/* #shop .middle .item-content a{
    background-color: var(--highlight-c);
    border: 1px solid var(--highlight-c);
} */
#shop .last{
    background: url(../eBuy-img/catagory3.jpg);
}
.sec-tle{
    text-align: center;
    margin-bottom: 85px ;
}
#shop .middle p{
    background-color: var(--white-c);
    color: var(--highlight-c);
    font-size: 16px;
    font-weight: var(--medium);
    display: inline-block;
    position: absolute;
    left: -11px;
    top: 69px;
    padding: 6px 50px;
    transform: rotate(-45deg);
    transform-origin: left center;
}
.sec-tle h2{
    text-align: center;
    font-size: 40px ;
    font-weight: var(--font-w5);
    color: var(--color-22);
    text-transform: var(--txt-transform);
    position: relative;
    display: inline-block;
    padding-bottom: 18px;
}
.sec-tle h2::before,
.sec-tle h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 51% ;
    background-color: var(--highlight-c);
}
.sec-tle h2::after{
    content: '';
    bottom: -5px ;
    width: 25% ;
}
/* feature section start */
/* feature common css */
#feature .container nav ul li a, .po_text .text h6{
    font-weight: var(--font-w5);
}
#feature .container nav ul li a, .po_text .text h6{
    font-size: var(--font-16px);
}
#feature .container nav ul li a{
    color: var(--color-44);
}
#feature .container nav ul li:hover a, .po_text .text .icone{
    color: var(--highlight-c);
}
#feature .container nav ul li a{
    transition: var(--transition);
}
/* feature common css end */
#feature{
    margin-bottom: 95px;
}
#feature .container nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#feature .container nav ul li{
    margin-bottom: 25px;
    padding: 0 21px;
    display: inline-block;
    border-right: 1px solid var(--color-44);
}
    /* 3333300 */
.po_item{
    margin: auto;
    width: 270px;
}
.po_item .img{
    position: relative;
    transition: var(--transition);
    transform-origin: right;
}
.po_item .overlay{
    position: absolute;
    background: rgba(0, 0, 0, 70%);
    height: 350px;
    width: 100px;
    right: 0;
    top: 0;
    padding: 40px 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.po_item .overlay a i{
    font-size: 26px;
    padding: 11px;
    border: 1px solid var(--color-f1);
    border-radius: 50%;
    margin: 20px 0;
    color: var(--color-f1);
    transition: all .3s linear;
}
.po_item .overlay i:hover{
    background-color: var(--highlight-c);
    border: 1px solid var(--highlight-c);
}
.po_item .img:hover .overlay{
    visibility: visible;
    opacity: 1;
}
    /*overlay end*/
.po_text .text .aa{
    width: 70%;
    padding: 10px 0 8px 0;
}
.po_text .text .bb{
    width: 30%;
    padding: 10px 0 8px 0;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--heading-color);
    text-align: right;
}
.po_text .text h6{
    display: inline-block;
    color: var(--heading-color);
    text-align: left;
}
 /* .po_text .text .icone{} */
    /* 3333300 */
/* feature section end */
    /* feauture prduct two */
    #feature-two{
        background-color: var(--color-f1);
        position: relative;
        padding: 58px 0;
        margin-bottom: 85px;
    }
    #feature-two .img,
    #feature-two .content{
        width: 50%;
    }
    #feature-two .content{
        padding-left: 30px;
    }
    #feature-two img{
        position: absolute;
        left: 0%;
    }
    #feature-two .content h5{
        font-size: 20px;
        font-weight: var(--font-w5);
        color: var(--color-22);
        text-transform: uppercase;
    }
    #feature-two .content h2{
        font-size: 40px;
        font-weight: var(--font-w5);
        color: var(--highlight-c);
        text-transform: uppercase;
    }
    #feature-two .content p{
        font-size: 14px;
        font-weight: var(--font-w4);
        color: var(--color-44);
        line-height: 24px;
        margin: 26px 0;
    }
    #feature-two .content ul{
        margin-top: 28px;
    }
    #feature-two .content ul li{
        display: inline-block;
        width: 78px;
        padding: 10px 0;
        text-align: center; 
        border: 1px solid var(--color-44);
        margin-right: 30px;
        font-size: 20px;
        font-weight: var(--font-w5);
        color: var(--color-44);
        line-height: 30px; 
    }
/* arrow  */
.feature{
    position: relative;
}
.feature .angle{
    margin-top: 50px;
    text-align: center;
}
.feature .angle a{
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: var(--color-22);
    line-height: 38px;
    border: 1px solid var(--color-22);
    margin-right: 10px;
}
.feature .angle a:hover i{
    background-color: var(--highlight-c);
    color: var(--white-c);
    border: 1px solid var(--highlight-c);
}
/* arrow end */
.testimonial-banner{
    background: url(../eBuy-img/testimonial-bg.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-bottom: 85px;
}
/* 55555555555 */
.testimonial-banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 80%);
    z-index: -1;
}
.test_item{
    width: 50%;
    margin: 60px auto;
}
.test_item .pic{
    width: 30%;
}
.test_item .comment{
    width: 68%;
}
.test_item .comment h3{
    font-size: 20px;
    font-weight: var(--font-w5);
    color: var(--white-c);
    padding-bottom: 7px;
}
.test_item .comment h6{
    font-size: 16px;
    font-weight: var(--font-w5);
    color: var(--white-c);
}
.test_item .comment p{
    font-size: 14px;
    font-family: var(--opensans);
    color: var(--color-dd);
    line-height: 24px;
    text-align: justify;
    padding: 30px 0;
    
}
.test_item .comment span{
    color: var(--color-dd);
    font-family: 'Brush Script MT';
    font-size: 24px;
    margin-left: 65%;
}
.testimonial-banner .angle{
    position: absolute;
    bottom: 30px;
    left: 47.5%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.testimonial-banner .angle a i{
    display: inline-block;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: var(--white-c);
    line-height: 38px;
    border: 1px solid var(--white-c);
    margin-right: 10px;
}
.testimonial-banner .angle a:hover i{
    background-color: var(--highlight-c);
    color: var(--white-c);
    border: 1px solid var(--highlight-c);
}
/* 55555555555 */
footer{
    background-color: var(--color-44);
}
footer .content{
    width: 80%;
    color: var(--white-c);
    font-size: 14px;
    font-family: var(--font-w4);
    padding: 20px 0;
}
footer .content span{
    color: var(--highlight-c);
    
}
footer .content-img{
    width: 20%;
    padding: 20px 0 6px 0;
}
/* kkkkk */
#top{
    display: none;
}
#top i{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    color: var(--color-f1);
    height: 50px;
    width: 50px;
    background-color: var(--highlight-c);
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}
/* dkjfhkdsfkd */
#loding{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 100;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#loding .circle{
    width: 200px;
    height: 200px;
    border: 15px solid var(--highlight-c);
    border-radius: 50%;
    border-top: 15px solid transparent;

    animation: circle 3s linear infinite;
}

@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}