*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    outline: 0 ;
}
.clearfix{
    clear: both;
}
.header{
    background-image: url("../images/layout/header-bg.jpg");
    height: 80px;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    width: 50%;
    float: left;
    height: 100%;
    padding: 10px 10px 10px 50px;
    
}
.logo img {
    height: 100%;
}
.menu_bar{
    width: 50%;
    float: left;
    padding: 10px 10px 10px;
    margin-top: 20px;
}
.menu_bar a{
    border: 1px solid #010813;
    color: #ffffff;
    padding: 5px;
}
#bder1{
    border: 4px double red;
}
#bder{
    border: 2px dotted red;
}
#bder2{
    border: 2px dashed blue;
}
.main_contain{
    width: 70%;
    background-color: silver;
    float: left;
    border-right: 3px dotted red;
    padding: 10px;
}
.main_contain img{
    width: 360px;
    height: 200px;
}
.side_bar{
    width: 30%;
    background-color: skyblue;
    float: left;
    padding: 10px;
}
#d1{
    border-bottom: 2px dashed #ddd;
    padding: 5px;
}
.footer{
    height: 80px ;
    background-image: url("../images/layout/footer.jpg");
    color: #ffff;
    padding: 12px;
    border: 5px dashed blue;
}
.footer p{
    font-size: 28px ;
    
}