@media (min-width:1400px) {}
@media (min-width:1200px) and (max-width:1399.98px){
    .slider_icon.fa-arrow-left {
        left: 14px;
    }
    .slider_icon.fa-arrow-right {
        right: 14px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .slider_content h5 {
        font-size: 24px;
    }
    .slider_content h1 {
        font-size: 48px;
        letter-spacing: 28px;
    }
    .slider_content p {
        font-size: 16px;
    }
    .slider_icon.fa-arrow-left {
        left: 16px;
    }
    .slider_icon.fa-arrow-right {
        right: 16px;
    }
    #banner .slider_item {
        height: 580px;
    }
    .title {
        padding: 40px 0;
    }
    .about_item {
        margin: 50px 0;
    }
    .work_img img {
        height: 250px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .navBar button i{
        color: aliceblue;
    }
    #banner .slider_item {
        height: 560px;
    }
    .slider_content h5 {
        font-size: 18px;
    }
    .slider_content h1 {
        font-size: 36px;
        letter-spacing: 18px;
    }
    .slider_content p {
        font-size: 16px;
    }
    .slider_icon.fa-arrow-left {
        left: 16px;
    }
    .slider_icon.fa-arrow-right {
        right: 16px;
    }
    .slider_content> img {
        margin: 32px auto;
    }
    .slider_content a {
        padding: 14px 32px;
        font-size: 12px;
    }
    .title {
        padding: 35px 0;
    }
    .title h2 {
        font-size: 36px;
    }
    .title p {
        font-size: 14px;
        line-height: 28px;
    }
    .title p span {
        font-size: 18px;
    }
    .about_item {
        padding: 20px;
        margin: 50px 0;
    }
    .about_item:nth-child(2n) {
        border-right-color: transparent;
    }
    #service {
        background: #f0f0e8;
        background-repeat: initial;
        background-size: initial;
        background-position: initial;
    }
    #service::after {
        content: initial;
    }
    .service_item p {
        padding-right: 12px;
    }
}
@media (min-width:576px) and (max-width:767.98px){
    #banner .slider_item {
        height: 480px;
    }
    .slider_content h5 {
        font-size: 14px;
    }
    .slider_content h1 {
        font-size: 28px;
        letter-spacing: 14px;
    }
    .slider_content p {
        font-size: 14px;
    }
    .slider_content> img {
        margin: 22px auto;
    }
    .slider_content a {
        padding: 12px 18px;
        font-size: 12px;
    }
    .slider_icon {
        visibility: hidden;
    }
    .title {
        padding: 30px 0;
    }
    .title h2 {
        font-size: 28px;
    }
    .title p {
        font-size: 14px;
        line-height: 32px;
    }
    .title p span {
        font-size: 16px;
    }
    .about_item {
        padding: 24px;
        margin: 22px 0;
    }
    .about_item:nth-child(2n) {
        border-right-color: transparent;
    }
    #service {
        background: #f0f0e8;
        background-repeat: initial;
        background-size: initial;
        background-position: initial;
    }
    #service::after {
        content: initial;
    }
    .service_item {
        padding: 18px 0;
    }
    .service_item:nth-child(2n){
        border-right-color: transparent;
    }
    .service_item h5 {
        font-size: 14px;
        padding: 12px 0;
    }
    .service_item p {
        padding-right: 12px;
    }
    .work_img img {
        height: 240px;
    }

    .contact_form input, .contact_form textarea {
        margin: 12px 0;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .contact_form input[type="submit"] {
        padding: 10px 30px;
        font-size: 12px;
    }
    footer p {
        padding: 18px 0;
    }
}
@media (max-width:575.98px){}