/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
}
a{
    text-decoration: none ;
}
ul{
    list-style: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
/* end common style */
nav{
    background-color: #02918C;
}
.navMenu{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    animation: menuAni .3s linear;
}
@keyframes menuAni {
    0%{
        top: -20px;
    }
    100%{
        top:0;
    }
}
nav .container .flex{
    align-items: center;
} 
.logo{
    width: 25%;
}
.logo img{
    display: block;
}
.menu{
    width: 75%;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    margin: 21px 0;
}
.menu ul li a{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    border-radius: 16px;
    transition: all .4s linear;
}
.menu ul li:hover a{
    background-color: #cfc91d;
}
#banner{
    text-align: center;
    background-image: url("../images/psd/banner_bg.jpg");
    padding: 200px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    
}
#banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .66);
    z-index: -1;
    
}
.contant, .work-item-content p, .work-item-content h5{
    color: #fff;
}
.contant h5{
    font-weight: 800;
    font-size: 30px;
}
.contant h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 68px;
    letter-spacing: 30px;
}
.contant p{
    font-size: 18px;
}
.contant > img {
    display: block;
    margin: 40px auto;
}
.contant > a {
    padding: 16px 48px;
    background-color: #cfc91d;
    font-size: 14px;
    display: inline-block;
    font-weight: 800;
    color: #0b1016;
    text-transform: uppercase;
}
.about_title, .work_title{
    padding: 50px 0;
}
.about_title h2, .content-title h2, .work_title h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
}
.about_title p, .work_title p{
    font-size: 16px ;
    color: #7e8287 ;
    line-height: 41px ;
}
.bottom-shape{
    padding: 30px 0;
}
.about_title p span{
    font-weight: 800;
    font-size: 23px;
}
.items{
    width: 25%;
    padding: 37px 65px;
    border-right: 1px solid #d9dbdb;
    margin: 78px 0 ;
}
.items:last-child{
    border-color: transparent;
}.items h5, .sevices-items h5{
    color: #878a8f;
}
.about_title p, .items p, .sevices-items p, .content-title p{
    color: #7e8287;
}
.items h5, .sevices-items h5, .work-item-content h5{
    font-size: 16px;
    font-weight: 800;
    padding: 16px 0;
}
.items p, .sevices-items p{
    font-size: 11px;
}
/*service section start*/
.service-content{
    width: 50%;
    padding: 72px 0;
}
.content-title {
    padding-right: 90px;
}
.sevices-items{
    width: 50%;
    padding-top: 62px;
    padding-right: 126px;
}
#services{
    background: #f0f0e8 url(../images/psd/second_image.jpg);
    background-repeat: no-repeat ;
    background-size: 50% auto ;
    background-position: right center ;
    position: relative ;
}
#services::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(240, 240, 232, .7);
}
    /* service section end */
    /* work section start */
.work_title{
    width: 80%;
    margin: 0 auto;
}
.work-item{
    width: 25% ;
    position: relative;
}
.work-item img{
    width: 100% ;
    height: 100%;
    display: block ;
}
.work-item-content p{
    font-size: 13px ;
}
.work-item-content{
    visibility: hidden;
    position: absolute;
    top: 20px ;
    right: 27px ;
    left: 28px ;
    bottom: 25px ;
    background-color: rgba(2, 145, 140, .85);
    padding: 30px;
    transition: all .4s linear;
    opacity: 0;
}
.work-item:hover .work-item-content{
    visibility: visible;
    opacity: 1;
}
    /* work section end */
    /* contact form start*/
.contact-form{
    background-color: #0b0b0b;
    padding: 40px ;
}
.contact-form input{
    width: 638px ;
}
.contact-form input, .contact-form textarea{
    font-family: 'Open Sans', sans-serif;
    display: block;
    border: none;
    margin: 0 auto;
    border-bottom: 1px solid #898989;
    margin-bottom: 20px;
    padding: 12px ;
    font-size: 16px;
    text-align: center;
    color: #767a7f;
    background: none;
    text-transform: uppercase;
}
.contact-form textarea{
    resize: none ;
}
.contact-form input:nth-child(3), .contact-form textarea{
    width: 917px ;
}
.contact-form input:last-child{
    border: initial;
}
.contact-form input[type="submit"]{
    width: auto;
    background: #cfc91d;
    color: #0b1016;
    padding: 10px 44px ;
    font-weight: 800;
    font-size: 14px ;
    letter-spacing: 2px ;
    cursor: pointer;
}

    /* contact form end */
/* footer section start*/
footer{
    background-color: black;
}
footer p{
    font-size: 12px;
    text-transform: uppercase;
    color: #7e8287;
    text-align: center;
    padding: 27px 0;
}
/* footer section start*/
/* kkkkk */
#top{
    display: none;
}
#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background-color:  #02918C;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}
/*  */
#loding{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 100;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#loding .circle{
    width: 200px;
    height: 200px;
    border: 15px solid  #cfc91d;
    border-radius: 50%;
    border-top: 15px solid transparent;

    animation: circle 3s linear 1;
}

@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}