/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
/* end common style */
nav{
    background-color: #02918C;
}
nav .container .flex{
    align-items: center;
} 
.logo{
    width: 25%;
}
.logo img{
    display: block;
}
.menu{
    width: 75%;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    margin: 10px 0;
}
.menu ul li a{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    border-radius: 16px;
    transition: all .4s linear;
}
.menu ul li:hover a{
    background-color: #cfc91d;
}
#banner{
    text-align: center;
    background-image: url("../images/psd/banner_bg.jpg");
    padding: 200px 0;
    background-size: cover;
    background-position: center;
}
.contant{
    color: #fff;
}
.contant h5{
    font-weight: 800;
    font-size: 30px;
}
.contant h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 68px;
    letter-spacing: 30px;
}
.contant p{
    font-size: 18px;
}
.contant > img {
    display: block;
    margin: 40px auto;
}
.contant > a {
    padding: 10px 42px;
    background-color: #cfc91d;
    font-size: 14px;
    display: inline-block;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}
.about_title{
    padding-top: 98px;
}
.about_title h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
}
.about_title p{
    font-size: 16px;
    color: #7e8287;
    margin: auto;
    line-height: 41px;
}
.bottom-shape{
    padding: 32px 0;
}
.about_title p span{
    font-weight: 800;
    font-size: 23px;
}
.items{
    width: 25%;
    padding: 37px 65px;
    border-right: 1px solid #d9dbdb;
    margin: 78px 0;
    color: #7e8287;
}
.items:last-child{
    border-color: transparent;
}
.items h5{
    font-size: 16px;
    padding: 28px 0;
}
.items p{
    font-size: 11px;
}