/* extra  extra large device xxl */
/* @media (min-width:1400px){} */
/* extra  large device xl */
@media (min-width:1200px) and (max-width:1398.98px){}
/* large device lg */
@media (min-width:992px) and (max-width:1199.98px) {
    #nav .logo{
        position :relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all .4s ease-out;
    }
    #nav .logo.active{
        left: 0;
        transform: initial;
    }
    #nav_menu > ul{
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-out;
    }
    #nav_menu > ul.active{
        opacity: 1;
        visibility: visible;
    }
    .sec_tle {
        padding: 40px 0 40px 0;
    }
    /* portfolio section start */
    #portfolio {
        margin-bottom: 0;
    }
    #portfolio .counterup {
        margin-top: 60px;
    }
    /* porfolio section end */
    /* blog section start */
    #blog .blogSItem .item_content .contentInsite ul li span {
        font-size: 12px;
    }
    #blog .blogSItem .item_content .contentInsite p {
        font-size: 13px;
        padding: 12px 0;
    }
    /* blog section end */
    /* contact section start */
    #contact .contact_item1 .fot_social ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin-right: 7px;
        font-size: 15px;
    }
    #contact .contact_us p {
        font-size: 12px;
    }
    #contact .links ul li a {
        font-size: 12px;
        padding-bottom: 3px;
    }
    #contact .news p {
        font-size: 12px;
    }
    #contact .news span {
        font-size: 9px;
    }
    #contact .news .admin {
        padding-top: 2px;
    }
}
/* medium device md */
@media (min-width:768px) and (max-width:991.98px){}
/* small device sm */
@media (min-width:576px) and (max-width:767.98px) {}
/* x small  */
@media (max-width:575.98px) {}